body {
    background-color: antiquewhite;
}

.headings {
    color: #3f27c7f9;
}

.bgimg {
    width: 850px;
    height: auto;
}

.list {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', sans-serif;
}

.jump {
    font-size: 20px;
    background-color: aquamarine;
    border-color: aquamarine;
    border-style: groove;
}