body {
    background-color: antiquewhite;
}
.headings {
    color: #3f27c7f9;
    font-family: Georgia, 'Times New Roman', sans-serif;
}

.backgroundimg {
width: 600px;
height: auto;
}

.list {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', sans-serif;
}

.jump {
    font-size: 20px;
    background-color: aquamarine;
    border-color: aquamarine;
    border-style: groove;
}